.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal--close-button {
  display: flex;
  align-self: flex-start;
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 11px;
}

.photo-details-modal--button-selected_photo {
  display: flex;
  flex-direction: column;
}

.photo-details-modal--images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 36px;
  margin-top: 8px;
  border-radius: 8px;
}

.photo-details-modal--image {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0px 30px 0px 30px;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.photo-details-modal--header {
  font-size: 15px;
  font-weight: 600;
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  margin-left: 18px;
  width: 90%;
  border-top: solid #E6E6E6 1px;
}